SQLAlchemy==2.0.50
alembic==1.18.4
psycopg2-binary==2.9.12
pydantic-settings==2.14.1
requests==2.34.2
discord.py==2.7.1
python-socketio[asyncio_client]==5.16.2
APScheduler==3.11.2
tzlocal==5.3.1
Pillow==11.3.0
